.header{
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title{
    font-family: 'Neue Machina';
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;;
    margin: 0.5rem;
}

.information a {
    color: #fff;
}

.information img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
}

.main::before {
    content: '';
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 60vh;
    z-index: -1;
}

.main::after {
    content: '';
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60vw;
    height: 80vh;
    z-index: -1;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: 
            "photo title"
            "photo information"
        ;
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 210px;;
    }

    .header .information {
        grid-area: information;
    }
}